{%extends 'base.html'%}
{% import 'macro.html' as macro%}
<!-- Styles block -->
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 pt-3">
            <div class="card" style="position: relative">
                <div class="card-header">
                    <div class="card-title">
                        <h2>Quote of the day..</h2>
                    </div>
                </div>
                <div class="card-body">
                   <h2> Posted by: {{quote.author}}</h2>
                   <h3> Id: {{quote.id}}</h3>
                   <p> Quote: {{quote.quote}}</p>
                </div>
            </div>
        </div>
                <div class="col-md-8 ">
                    {% for post in posts %}
                    <div class="body-content mt-3">
                        <h2 class="post-title">Post Title: {{post.title}}</h2>
                        <h3 class="subtitle"> Post Category: {{post.category}}</h3>
                        <h4 class="subtitle"> Post Content: {{post.content}}</h4>
                        <h5 class="post-name">Posted by ~ {{post.user_id}}</h5>
                        <h6 class="date text-muted">Posted on ~ {{post.created_at}}</h6>
                        <button class="btn btn-info btn-sm">
                            <a href="{{url_for('main.edit',id = post.id)}}">Edit</a>
                          </button>
                        <button class="btn btn-danger">
                            <a href="{{url_for('main.delete',id = post.id)}}">Delete</a>
                        </button>
                        <hr>
                    </div>
                    {% endfor %}
    </div>
</div>
{% endblock%}

